body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }
/* removes default margin, padding. "css reset" */

body { font-family: Arial, Helvetica, sans-serif; }

/* affects all container class objects */
.container {
	width: 800px;
	/* 0 auto means no margin at the top  and auto centered horizontally */
	margin: 0 auto;
}

/* header background */
#main {
	background: url(images/header_slice.jpg) repeat-x;
}

/* non-repeating glow; affects container class in main only */
#main .container {
	background: url(images/header_glow.png) no-repeat;
}

/* move the content of the header down from the header div's start */
#header {
	padding-top: 51px;
}

#logo {
	background: url(images/logo.png) no-repeat;
	height: 97px;
	width: 264px;
	float: left;
}

/* move the logo's text off of the screen */
#logo h1 {
	text-indent: -9999px;
}

#tagline {
	float: left;
	padding-top: 46px;
	padding-left: 20px;
}

#tagline h3{
	font-size: 52px; color: #c8c8c8;
}

ul#menu {
	list-style: none;
	padding-top: 72px;
}

/* link formatting within list items within menu's unordered list */
ul#menu li a {
	font-size: 30px;
	color: #000000;
	text-decoration: none;
}

ul#menu li {
	float: left;
	padding-left: 0px;
	padding-right: 100px;
}

