/* removes default margin, padding. "css reset" */
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

/* default typeface */
body { 
	font-family: Arial, Helvetica, sans-serif; 
	background: #d2d2d2;
}

/* affects all container class objects */
.container {
	width: 800px;
	/* 0 auto means no margin at the top  and auto centered horizontally */
	margin: 0 auto;
}

/* header background */
#main {
	background: url(images/header_slice.jpg) repeat-x;
}
/* non-repeating glow; affects container class in main only */
#main .container {
	background: url(images/header_glow.png) no-repeat;
}

/* move the content of the header down from the header div's start */
#header {
	padding-top: 51px;
}

#logo {
	background: url(images/logo.png) no-repeat;
	height: 97px;
	width: 264px;
	float: left;
}
/* move the logo's text off of the screen */
#logo h1 {
	text-indent: -9999px;
}

#tagline {
	float: left;
	padding-top: 46px;
	padding-left: 20px;
	width: 400px;
}
#tagline h3{
	font-size: 52px; color: #c8c8c8;
}

ul#menu {
	list-style: none;
	padding-top: 72px;
	padding-bottom: 30px;
}
ul#menu li {
	float: left;
	padding-left: 0px;
	padding-right: 100px;
}
/* link formatting within list items within menu's unordered list */
ul#menu li a {
	font-size: 30px;
	color: #000000;
	text-decoration: none;
}

#content {
	width: 510px;
	float: left;
}
#content h2 {
	font-size: 36px;
	color: #6698CB;
	padding-top: 40px;
}
#content h3 {
	font-size: 24px;
	color: #444444;
	padding-top: 20px;
	padding-bottom: 10px;
}
#content h4 {
	font-size: 18px;
	color: #373737;
	font-weight: normal;
}
#content p {
	font-size: 12px;
	color: #595858;
	padding-top: 20px;
}
#content small {
	font-size: 12px;
	color: #373737;
}
#content a {
	color: #0f6c8d;
	font-weight: bold;
	text-decoration: none;
}

#news {
	padding-top: 20px;
}
#news h3 {
	padding-bottom: 10px;
}
#news p {
	padding-top: 10px;
	padding-bottom: 14px;
}

#sidebar {
	float: left;
	margin-left: 55px;
	margin-top: 40px;
	background: #f1f1f1;
	border: 2px solid #000000;
	padding: 15px 15px 30px 15px;
}
#sidebar h3 {
	font-size: 24px;
	color: #044055;
	font-weight: normal;
	padding-bottom: 20px;
	padding-left: 15px;
}
#sidebar ul {
	list-style: none;
	padding-bottom: 25px;
}
#sidebar ul a {
	font-size: 14px;
	color: #393838;
}
ul#sidebar_nouns_ul li {
	padding-bottom: 5px;
	padding-left: 20px;
}
ul#sidebar_nouns_ul li a {
	font-size: 16px;
}
li#horse {
	background: url(images/list_icon.png) no-repeat;
}
li#tornado {
	background: url(images/list_icon.png) no-repeat;
}
li#nacho {
	background: url(images/list_icon.png) no-repeat;
}

a.button {
	color: #ffffff;
	text-decoration: none;
	background: url(images/button_slice.png) repeat-x;
	margin-left: 30px;
	margin-right: 30px;
	padding: 13px 23px;
	border: 2px solid #000000;
}

#footer {
	background: url(images/footer_slice.jpg) repeat-x;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 40px;
	color:#ffffff;
}
